@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

span:first-child {
  font-size: 20px;
  font-weight: bold;
  color: rgb(51, 148, 148);
  text-decoration: underline;
  text-transform: capitalize;
  font-family: "Playwrite IE Guides", serif;
}

span:nth-child(2) {
  font-size: 80px;
  font-weight: normal;
  color: #666666;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Rubik Vinyl", serif;
}

span:nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  color: rgb(73, 5, 5);
  text-decoration: dotted;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

span:nth-child(4) {
  font-size: 90px;
  font-weight: 900;
  color: aqua;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Piazolla", sans-serif;
}

span:nth-child(5) {
  font-size: 72px;
  font-weight: bold;
  color: #ff1493;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Sixtyfour", serif;
}

span:nth-child(6) {
  font-size: 25px;
  font-weight: 100;
  color: rgb(51, 0, 0);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

span:nth-child(7) {
  font-size: 15px;
  font-weight: 900;
  color: rgb(0, 255, 170);
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Rubik Vinyl", serif;
}

span:nth-child(8) {
  font-size: 150;
  font-weight: 700;
  color: rgb(255, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Sofia", serif;
}

span:nth-child(9) {
  font-size: 63px;
  font-weight: lighter;
  color: rgb(38, 0, 255);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Merienda", serif;
}
